<style>
  [data-otw-carousel="{{ section.id }}"] {
    --projectsLength: {{ section.settings.collection.products.size | minus: 1 }};
    --cardWidth: 34em;
  }

  @media screen and (max-width: 1540px) {
    [data-otw-carousel="{{ section.id }}"] {
      --cardWidth: 30.5vw;
    }
  }

    @media screen and (max-width: 991px) {
    [data-otw-carousel="{{ section.id }}"] {
      --cardWidth: 45vw;
    }
  }

    @media screen and (max-width: 479px) {
    [data-otw-carousel="{{ section.id }}"] {
      --cardWidth: 85vw;
    }
  }
</style>


<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{%- liquid
  assign featured_collection = section.settings.collection | default: collections.first
%}
<div class="leo-container-1" data-otw-carousel="{{ section.id }}" data-otw-items="{{ section.settings.collection.products.size }}">
  <div class="leo-wrap-1">
    <{{ section.settings.heading_tag }} class="leo-heading-1">
      {{- featured_collection.title | escape -}}
    </{{ section.settings.heading_tag }}>
    <div class="leo-wrap-2">
      <div class="leo-wrap-3_container" data-otw-carousel_wrapper>
        <div class="leo-wrap-3" data-otw-carousel_container>
          {%- if section.settings.collection.products.size > 0 -%}
            {% assign lazy_load = false %}
            {% render 'otw-card-product',
                c_product: section.settings.collection.products.last,
                show_compare_at_price: true,
                section_id: section.id,
                lazy_load: lazy_load,
                class: 'clone'
              %}
            {%- for product in section.settings.collection.products -%}
              {% if lazy_load == false and forloop.index > 3 %}
                {% assign lazy_load = true %}
              {% endif %}

              {% render 'otw-card-product',
                c_product: product,
                show_compare_at_price: true,
                section_id: section.id,
                lazy_load: lazy_load
              %}
            {%- endfor -%}
            {%- for product in section.settings.collection.products -%}
              {% if lazy_load == false and forloop.index > 3 %}
                {% assign lazy_load = true %}
              {% endif %}

              {% render 'otw-card-product',
                c_product: product,
                show_compare_at_price: true,
                section_id: section.id,
                lazy_load: lazy_load,
                class: 'clone'
              %}
            {%- endfor -%}
          {%- endif -%}
        </div>
      </div>
    </div>
    <div class="leo-wrap-absolute-1">
      <div class="leo-wrap-8" data-otw-carousel_action="right">
        <img
          src="{{ 'otw-icon-arrow-2.png' | asset_url }}"
          loading="lazy"
          width="auto"
          height="auto"
          alt=""
          class="leo-icon-2"
        >
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Octra | Collection",
  "tag": "section",
  "class": "leo-section-1",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Featured Collection"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "Heading 1"
        },
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h3",
          "label": "Heading 3"
        }
      ],
      "default": "h2",
      "label": "Heading tag"
    }
  ],
  "presets": [
    {
      "name": "Octra | Collection",
      "category": "Custom"
    }
  ]
}
{% endschema %}
