<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link
  rel="stylesheet"
  href="{{ 'component-cart-notification.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>

<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

  <section class="sec-section-1">
    <div class="sec-container-1">
      <div class="sec-wrap-1">
        <div class="sec-logo-wrap-1">
          <a href="{{ routes.root_url }}" class="sec-wrap-2 w-inline-block">
            {%- if settings.logo != blank -%}
              {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
              {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
              {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
              {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
              {{
                settings.logo
                | image_url: width: 600
                | image_tag:
                  class: 'sec-logo-1',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
              }}
            {%- else -%}
              <img
                src="{{ 'otw-logo-white.svg' | asset_url }}"
                loading="lazy"
                alt=""
                width="auto"
                height="auto"
                class="sec-logo-1"
              >
            {%- endif -%}
          </a>
        </div>
        <div class="sec-wrap-3">
          {%- for link in section.settings.menu.links -%}
            <a
              href="{{ link.url }}"
              class="sec-link-2"
              {% if link.current %}
                aria-current="page"
              {% endif %}
            >
              {{- link.title | escape -}}
            </a>
          {%- endfor -%}
        </div>
        <div class="sec-wrap-4">
          {% render 'header-search', input_id: 'Search-In-Modal' %}

          <a href="{{ routes.cart_url }}" class="sec-link-block-1 w-inline-block" id="cart-icon-bubble">
            <span class="sec-icon-1">{{ 'otw-icon-cart.svg' | inline_asset_content }}</span>
            <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
            {%- if cart != empty -%}
              <div class="cart-count-bubble">
                {%- if cart.item_count < 100 -%}
                  <span aria-hidden="true">{{ cart.item_count }}</span>
                {%- endif -%}
                <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
              </div>
            {%- endif -%}
          </a>

          {%- if shop.customer_accounts_enabled -%}
            <a
              href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
              class="sec-link-block-1 w-inline-block focus-inset"
              rel="nofollow"
            >
              {%- if section.settings.enable_customer_avatar -%}
                <account-icon>
                  {%- if customer and customer.has_avatar? -%}
                    {{ customer | avatar }}
                  {%- else -%}
                    <span class="sec-icon-1">{{ 'otw-icon-person.svg' | inline_asset_content }}</span>
                  {%- endif -%}
                </account-icon>
              {%- else -%}
                <span class="sec-icon-1">{{ 'otw-icon-person.svg' | inline_asset_content }}</span>
              {%- endif -%}
              <span class="visually-hidden">
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </span>
            </a>
          {%- endif -%}
        </div>
        <div class="sec-wrap-5">
          <img
            src="{{ 'otw-icon-mobile-menu.png' | asset_url }}"
            loading="lazy"
            data-w-id="ad4e2195-7c6d-43d4-7258-7cdfe5c7b08e"
            alt=""
            class="sec-icon-2"
            width="auto"
            height="auto"
          >
        </div>
      </div>
    </div>
  </section>
  <div class="sec-section-menu-1">
    <section class="sec-section-1">
      <div class="sec-container-1">
        <div class="sec-wrap-1">
          <div class="sec-logo-wrap-1">
            <a href="{{ routes.root_url }}" class="sec-wrap-2 w-inline-block"
              ><img
                src="{{ 'otw-logo-white.svg' | asset_url }}"
                loading="lazy"
                width="auto"
                height="auto"
                alt=""
                class="sec-logo-1"
            ></a>
          </div>
          <div class="sec-wrap-3">
            {%- for link in section.settings.menu.links -%}
              <a
                href="{{ link.url }}"
                class="sec-link-2"
                {% if link.current %}
                  aria-current="page"
                {% endif %}
              >
                {{- link.title | escape -}}
              </a>
            {%- endfor -%}
          </div>
          <div class="sec-wrap-4">
            {% render 'header-search', input_id: 'Search-In-Modal' %}
            <a href="{{ routes.cart_url }}" class="sec-link-block-1 w-inline-block" id="cart-icon-bubble">
              <span class="sec-icon-1">{{ 'otw-icon-cart.svg' | inline_asset_content }}</span>
              <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
              {%- if cart != empty -%}
                <div class="cart-count-bubble">
                  {%- if cart.item_count < 100 -%}
                    <span aria-hidden="true">{{ cart.item_count }}</span>
                  {%- endif -%}
                  <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                </div>
              {%- endif -%}
            </a>
            {%- if shop.customer_accounts_enabled -%}
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="sec-link-block-1 w-inline-block focus-inset"
                rel="nofollow"
              >
                {%- if section.settings.enable_customer_avatar -%}
                  <account-icon>
                    {%- if customer and customer.has_avatar? -%}
                      {{ customer | avatar }}
                    {%- else -%}
                      <span class="sec-icon-1">{{ 'otw-icon-person.svg' | inline_asset_content }}</span>
                    {%- endif -%}
                  </account-icon>
                {%- else -%}
                  <span class="sec-icon-1">{{ 'otw-icon-person.svg' | inline_asset_content }}</span>
                {%- endif -%}
                <span class="visually-hidden">
                  {%- liquid
                    if customer
                      echo 'customer.account_fallback' | t
                    else
                      echo 'customer.log_in' | t
                    endif
                  -%}
                </span>
              </a>
            {%- endif -%}
          </div>
          <div class="sec-wrap-5">
            <img
              src="{{ 'otw-icon-close-menu.png' | asset_url }}"
              loading="lazy"
              data-w-id="ad4e2195-7c6d-43d4-7258-7cdfe5c7b0a7"
              alt=""
              class="sec-icon-2"
              width="auto"
              height="auto"
            >
          </div>
        </div>
      </div>
    </section>
    <div class="sec-container-2">
      <div class="sec-wrap-6">
        <div class="sec-wrap-3-1">
          {%- for link in section.settings.menu.links -%}
            <a
              href="{{ link.url }}"
              class="sec-link-2"
              {% if link.current %}
                aria-current="page"
              {% endif %}
            >
              {{- link.title | escape -}}
            </a>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

{%- if settings.cart_type == 'notification' -%}
  {%- render 'cart-notification',
    color_scheme: section.settings.color_scheme,
    desktop_menu_type: section.settings.menu_type_desktop
  -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky =
        this.getAttribute('data-sticky-type') === 'always' ||
        this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      }

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => (this.preventReveal = true);

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach((disclosure) => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "sec-section-3",
  "tag": "header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    }
  ]
}
{% endschema %}
